body{
    background-image: url(../Images/menu\ background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-blend-mode: darken;

}

    


.chicken{
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    margin-left: auto;
    margin-right: auto;
}
#menu{
    text-align: center;
    text-shadow:5px 5px white ;
    text-anchor: middle;
    font-size: 50px;
    font-weight: 60px;
    -webkit-text-fill-color:rgb(155, 52, 7);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.menu-item-name{
    text-overflow: ellipsis;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20px ;
    color: black;
    text-align: center;
}